#rootPane {
    -fx-background-color: #e4c309;
}

#gamePane {
    -fx-background-color: #e4c309;
}

#loginPane {
    -fx-background-color: #e4c309;
}

#loginHeader {
    -fx-background-color: #e4c309;
}

#gameHeader {
    -fx-background-color: #e4c309;
}